<!-- Parallax Effect -->
<script type="text/javascript">$(document).ready(function(){$('#parallax-pagetitle').parallax("50%", -0.55);});</script>

<section class="parallax-effect">
  <div id="parallax-pagetitle" style="background-image: url(<%= asset_path 'img/parallax/parallax-01.jpg' %>);">
    <div class="color-overlay"> 
      <!-- Page title -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ol class="breadcrumb">
              <li><a href="<%= root_path %>">Home</a></li>
              <li><a href="<%= rooms_path %>"><%= @room.category %> Bedroom</a></li>
              <li class="active">Room detail</li>
            </ol>
            <h1>Room detail</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row"> 
    <!-- Slider -->
    <section class="room-slider standard-slider mt50">
      <div class="col-sm-12 col-md-8">
        <div id="owl-standard" class="owl-carousel">
          <div class="item"> 
          	<a href="<%= @room.image.url %>" data-rel="prettyPhoto[gallery1]">
          		<%= image_tag @room.image.url, class: 'img-responsive' %>
          	</a> 
          </div>
          <%= render @images %>
        </div>
      </div>
    </section>
    
    <!-- Reservation form -->
    <section id="reservation-form" class="mt50 clearfix">
      <div class="col-sm-12 col-md-4">
        <% if user_signed_in? %>
          <h2 class="lined-heading"><span>Add Rating</span></h2>
          <div class="star-rating">
            <%= rating_for @room, 'rate', star: 5 %>
          </div>
        <% else %>
          <div class="panel panel-info">
            <div class="panel-heading">Rate Room</div>
            <div class="panel-body">
              <div class="alert alert-info">
                <strong>Info!</strong> You must Sign in to Add Rating.
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-4">
        <% if user_signed_in? %>
          <%= simple_form_for :booking, url: book_room_room_path(@room), method: :post, class: 'reservation-vertical clearfix' do |f| %>
            <h2 class="lined-heading"><span>Reservation</span></h2>
            <div class="price">
              <h4><%= @room.category %> Room</h4>
              &euro; <%= @room.price %>,-<span> a night</span></div>
            <div id="message"></div>
            <!-- Error message display -->
            <div class="form-group">
              <select class="hidden" id="room">
                <option selected="selected">Double Room</option>
              </select>
            </div>
            <div class="form-group">
              <label for="checkin">Check-in</label>
              <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Check-In is from 11:00"> <i class="fa fa-info-circle fa-lg"> </i> </div>
              <i class="fa fa-calendar infield"></i>
              <%= f.input :check_in, input_html: { id: 'checkin', class: 'form-control', placeholder: 'Check-in' }, label: false %>
            </div>
            <div class="form-group">
              <label for="checkout">Check-out</label>
              <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Check-out is from 12:00"> <i class="fa fa-info-circle fa-lg"> </i> </div>
              <i class="fa fa-calendar infield"></i>
              <%= f.input :check_out, input_html: { id: 'checkout', class: 'form-control', placeholder: 'Check-out' }, label: false %>
            </div>
            <div class="form-group">
              <div class="guests-select">
                <label>Guests</label>
                <i class="fa fa-user infield"></i>
                <%= f.input :guests, input_html: { class: 'form-control' }, label: false %>
              </div>
            </div>
            <%= f.submit 'Book Now', class: 'btn btn-primary btn-block btn-color-black' %>
          <% end %>
        <% else %>
          <div class="panel panel-info">
            <div class="panel-heading">Book Room</div>
            <div class="panel-body">
              <div class="alert alert-info">
                <strong>Info!</strong> You must Sign in to Book Room.
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>
    
    <!-- Room Content -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-7 mt50">
            <h2 class="lined-heading"><span>Room Details</span></h2>
            <h3 class="mt50">Room overview</h3>
            <table class="table table-striped mt30">
              <tbody>
                <tr>
                  <td><i class="fa fa-check-circle"></i> <%= @room.beds %> Beds</td>
                  <td><i class="fa fa-check-circle"></i> Free Internet</td>
                  <td><i class="fa fa-check-circle"></i> <%= @room.capacity %> People Capacity </td>
                </tr>
                <tr>
                  <td><i class="fa fa-check-circle"></i> 60 square meter</td>
                  <td><i class="fa fa-check-circle"></i> Beach view</td>
                  <td><i class="fa fa-check-circle"></i> 2 persons</td>
                </tr>
                <tr>
                  <td><i class="fa fa-check-circle"></i> Double Bed</td>
                  <td><i class="fa fa-check-circle"></i> Free Internet</td>
                  <td><i class="fa fa-check-circle"></i> Breakfast included</td>
                </tr>
                <tr>
                  <td><i class="fa fa-check-circle"></i> Private Balcony</td>
                  <td><i class="fa fa-check-circle"></i> Flat Screen TV</td>
                  <td><i class="fa fa-check-circle"></i> Jacuzzi</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-5 mt50">
            <h2 class="lined-heading"><span>Description</span></h2>
            
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#overview" data-toggle="tab">Description</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane fade in active" id="overview">
                <p><%= @room.description %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Room Content -->
    <section id="reviews">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 mt50">
            <h2 class="lined-heading"><span>Room Reviews</span></h2>
            <div class="carousel-reviews broun-block">
              <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
                  
                <div class="carousel-inner">
                  <% if @reviews.count > 0 %>
                    <%= render @reviews %>
                  <% else %>
                    <strong> <p align="center">No Reviews Yet</p> </strong>
                  <% end %>                            
                </div>
                
                <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left icon-color"></span>
                </a>
                <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right icon-color"></span>
                </a>
              </div>
            </div>

            <h2 class="lined-heading"><span>Leave a Review</span></h2>
            <% if user_signed_in? %>
              <%= simple_form_for [@room, Review.new] do |f| %>
                <div class="form-group">
                  <%= f.input :content, as: :text, input_html: { class: 'form-control btn-color-black', rows: 5 }, label: 'Review' %>
                </div>
                <div class="form-group">
                  <%= f.submit 'Submit Your Review', class: 'btn btn-primary btn-block btn-color-black' %>
                </div>
              <% end %>
            <% else %>
              <div class="panel panel-info">
                <div class="panel-heading">Leave a Review</div>
                <div class="panel-body">
                  <div class="alert alert-info">
                    <strong>Info!</strong> You must Sign in to Add Reviews.
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>