<!-- Top header -->
<div id="top-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">  
      </div>
      <div class="col-xs-6">
        <div class="th-text pull-right">
          <% if !user_signed_in? %>
            <div class="th-item"> 
              <a href="<%= new_user_session_path %>"><i class="fa fa-user"></i> Login</a> 
            </div>
            <div class="th-item"> 
              <a href="<%= new_user_registration_path %>"><i class="fa fa-user-plus"></i> Sign Up </a>
            </div>
          <% else %>
            <div class="th-item"> 
              <a> Welcome, <strong> <%= current_user.email %> </strong></a> 
            </div>
            <div class="th-item"> 
              <a href="<%= edit_user_registration_path %>"><i class="fa fa-cog"></i> Edit Profile </a>
            </div>
            <div class="th-item"> 
              <i class="fa fa-power-off"></i> <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Header -->
<header>
  <!-- Navigation -->
  <div class="navbar yamm navbar-default" id="sticky">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a href="<%= root_path %>" class="navbar-brand">         
        <!-- Logo -->
        <div id="logo">  
          <%= image_tag 'img/logo.png', id: 'default-logo', style: 'height: 44px' %> 
          <%= image_tag 'img/logo-retina.png', id: 'retina-logo', style: 'height: 44px' %>
        </div>
        </a> </div>
      <div id="navbar-collapse-grid" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"> <a href="<%= root_path %>">Home</a></li>
          <li class=""> <a href="<%= rooms_path %>">Rooms</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>