<!DOCTYPE html>
<html>
  <head>
    <title>CloudProject</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'img/favicon.ico' %>
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'header' %>
    <%= render "shared/flash_messages" %>
    <%= yield %>
    <%= render 'footer' %>

  <%= javascript_include_tag 'js/jquery-1.11.0.min.js' %>
  <%= javascript_include_tag 'js/bootstrap.min.js' %>
  <%= javascript_include_tag 'js/bootstrap-hover-dropdown.min.js' %>
  <%= javascript_include_tag 'js/owl.carousel.min.js' %>
  <%= javascript_include_tag 'js/jquery.parallax-1.1.3.js' %>
  <%= javascript_include_tag 'js/jquery.nicescroll.js' %>
  <%= javascript_include_tag 'js/jquery.prettyPhoto.js' %>
  <%= javascript_include_tag 'js/jquery-ui-1.10.4.custom.min.js' %>
  <%= javascript_include_tag 'js/jquery.forms.js' %>
  <%= javascript_include_tag 'js/jquery.sticky.js' %>
  <%= javascript_include_tag 'js/waypoints.min.js' %>
  <%= javascript_include_tag 'js/jquery.isotope.min.js' %>
  <%= javascript_include_tag 'js/jquery.gmap.min.js' %>
  <%= javascript_include_tag 'js/switch.js' %>
  <%= javascript_include_tag 'js/custom.js' %>
  <%= javascript_include_tag 'js/jquery.themepunch.tools.min.js' %>
  <%= javascript_include_tag 'js/jquery.themepunch.revolution.min.js' %>
  </body>
</html>
